body {
    margin: 0;
}

.silde {
    position: relative;
    height: 300px;
}

.silde_img img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.slide_txt {
    position: absolute;
    top:0;
    left: 0;
    width: 400px;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}

.slide_txt p {
    z-index: 1;
    color: #fff;
    padding: 24px;
}

/* .box {
    max-width: 800px;
    margin: 32px auto 0 auto;
    background-color: rgba(0,0,0,0.4);
    padding: 48px;
    border-radius: 30px;
}

.testo-doppio {
    display: flex;
    margin-bottom: 32px;
    gap: 32px;
}

.testo-singolo {
    max-width: 100px;
    margin: auto;
}

.card {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:32px
}

.card_img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
} */